<template>
  <tr>
    <td class="hidden pb-4 md:table-cell">
      <a>
        <img :src="this.productImage" class="w-20 rounded" alt="Thumbnail" />
      </a>
    </td>
    <td>
      <a href="#">
        <p id="cart-item-name" class="mb-2 md:ml-4">{{ name }}</p>
        <form action="" method="POST">
          <button
            type="submit"
            class="text-gray-700 md:ml-4"
            id="remove-from-cart"
            @click="onRemoveItem"
          >
            <small class="text-red-600">Remove item</small>
          </button>
        </form>
      </a>
    </td>
    <td class="justify-center md:justify-end md:flex mt-6">
      <div class="w-20 h-10">
        <div class="relative flex flex-row w-full h-8">
          <input
            type="number"
            id="item-quantity"
            :value="this.quantity"
            @input="onChangeQuantity"
            min="1"
            max="9"
            class="
              w-full
              font-semibold
              text-center text-gray-700
              bg-gray-200
              outline-none
              focus:outline-none
              hover:text-black
              focus:text-black
            "
          />
        </div>
      </div>
    </td>
    <td class="hidden text-right md:table-cell">
      <span class="text-sm lg:text-base font-medium"> ${{ unitPrice }} </span>
    </td>
    <td class="text-right">
      <span class="text-sm lg:text-base font-medium">
        ${{ cartItemPrice }}
      </span>
    </td>
  </tr>
</template>

<script>
async function onChangeQuantity(e) {
  await this.$store.dispatch("addProductToBasket", {
    basketId: this.basketID,
    productId: this.cartItem.product._id,
    quantity: e.target.value - this.quantity,
  });
}

async function onRemoveItem() {
  await this.$store.dispatch(
    "removeProductFromBasket",
    this.cartItem.product._id
  );
}

export default {
  name: "CartItem",

  props: {
    cartItem: {
      type: Object,
      required: true,
    },
    basketID: {
      type: String,
      required: true,
    },
  },

  methods: {
    onChangeQuantity,
    onRemoveItem,
  },

  computed: {
    id() {
      return this.cartItem.product._id;
    },

    name() {
      return this.cartItem.product.name;
    },

    description() {
      return this.cartItem.product.description;
    },

    unitPrice() {
      return this.cartItem.product.price;
    },

    cartItemPrice() {
      return this.cartItem.price;
    },

    productImage() {
      return this.cartItem.product.image;
    },

    quantity() {
      return this.cartItem.quantity;
    },
  },
};
</script>

<style>
</style>