<template>
  <div class="grid grid-cols-3 gap-4 px-4 items-center">
    <ProductCard
      v-for="product in products"
      :key="product._id"
      :product="product"
    ></ProductCard>
  </div>
</template>

<script>
import ProductCard from "@/components/ProductCard.vue";
export default {
  name: "ProductList",

  components: {
    ProductCard,
  },

  props: {
    products: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style>
</style>