<template>
  <div class="py-6">
    <div class="flex max-w-md bg-white shadow-lg rounded-lg overflow-hidden">
      <div
        class="w-1/3 bg-cover"
        v-bind:style="{
          backgroundImage: 'url(' + this.image + ')',
          backgroundSize: '100% auto',
          backgroundRepeat: 'no-repeat',
        }"
      ></div>
      <div class="w-2/3 p-4">
        <h1 id="product-name" class="text-gray-900 font-bold text-2xl">
          {{ name }}
        </h1>
        <p class="mt-2 text-gray-600 text-sm">
          {{ description }}
        </p>
        <div class="flex item-center mt-2">
          <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
            <path
              d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
            />
          </svg>
          <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
            <path
              d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
            />
          </svg>
          <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
            <path
              d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
            />
          </svg>
          <svg class="w-5 h-5 fill-current text-gray-500" viewBox="0 0 24 24">
            <path
              d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
            />
          </svg>
          <svg class="w-5 h-5 fill-current text-gray-500" viewBox="0 0 24 24">
            <path
              d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
            />
          </svg>
        </div>
        <div class="flex item-center justify-between mt-3">
          <h1 class="text-gray-700 font-bold text-xl">${{ price }}</h1>
          <button
            id="add-to-cart"
            class="
              px-3
              py-2
              bg-gray-800
              text-white text-xs
              font-bold
              uppercase
              rounded
            "
            @click="addToCart"
          >
            Add to Card
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
async function addToCart() {
  await this.$store.dispatch("addProductToBasket", {
    basketId: this.$store.getters.getBasket._id,
    productId: this.id,
    quantity: 1,
  });
}

export default {
  name: "ProductCard",

  props: {
    product: {
      type: Object,
      required: true,
    },
  },

  methods: {
    addToCart,
  },

  computed: {
    id() {
      return this.product._id;
    },

    name() {
      return this.product.name;
    },

    description() {
      return this.product.description;
    },

    price() {
      return this.product.price;
    },

    image() {
      return this.product.image;
    },
  },
};
</script>

<style>
</style>