<template>
  <ProductList :products="this.products"></ProductList>
</template>

<script>
import ProductList from "@/components/ProductList.vue";
export default {
  name: "IndexPage",

  async asyncData({ store }) {
    await store.dispatch("fetchAllProducts");
    await store.dispatch("fetchAllBaskets");
    if (store.getters.getBasket === null) {
      await store.dispatch("createBasket");
    }
  },

  computed: {
    products() {
      return this.$store.getters.getProducts;
    },
  },

  components: {
    ProductList,
  },
};
</script>
